body{
	background-color: #9abc61;
}




.sidebar{
	
	height: auto;
	width: 140px;
	background-color: #e3d755;
	padding-top: 100%;
	padding-bottom:100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

p{
	margin-left: 160px;
	margin-top: 5px;
	color: white;
	width: 500px;
	font-size: 25px;
}

.smalllogo{
	position: fixed;
	margin-left: 5px;
	margin-top: -210px;
	z-index: +1;

}

.sidenav{
	position: fixed;
	margin-top: 0px;
	margin-left: -20px;
	list-style-type: none;

}
.list{
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
}

a:hover{
	color:#9abc61;
}

.biglogo{
	margin-left: 140px;


}

.form{
	position: absolute;
	margin-left: 160px;
	margin-top: 240px;
}

.imgjoin{ float: right;
margin-right: 400px;
margin-top: -5px;
}